* {
  margin: 0;
  box-sizing: border-box;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#start {
  padding-top: 650px;
  font-size: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imageContainer {
  width: 95%;
  height: 1400px;
  margin: 10px auto;
  /* margin: 300px, auto, 50px; */
  background-color: aqua;
  display: none;
  /* grid-template-columns: repeat(6, 20%);
  grid-template-rows: repeat(6, 1fr); */
  background-image: url("https://i.imgur.com/VDld0dD.jpeg");

  background-size: 100%;
}

#filter {
  width: 95%;
  height: 1400px;
  display: grid;
  grid-template-columns: repeat(5, 21.25%);
  grid-template-rows: repeat(4, 20%);
}

.cells {
  background-color: rgb(84, 173, 208);
  /* width: 350px;
  height: 275px; */

  border: 1px black dashed;
}

/* #randomImg {
  width: 500px;
  height: 700px;
} */

#lowerPage {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
}

#random-div {
  display: none;
  width: 400px;
  height: 400px;
  margin: -400px -200px;
  position: absolute;
  top: 40%;
  left: 50%;
  align-items: center;
  font-size: x-large;
  background-color: rgb(157, 152, 152);
  text-align: center;
}

.winner-style {
  display: none;
  width: 400px;
  height: 400px;
  margin: -400px -200px;
  position: absolute;
  top: 40%;
  left: 50%;
  align-items: center;
  font-size: x-large;
  background-color: rgb(43, 226, 83);
  text-align: center;
}

.wrong-guess {
  display: none;
  width: 400px;
  height: 400px;
  margin: -400px -200px;
  position: absolute;
  top: 40%;
  left: 50%;
  align-items: center;
  font-size: x-large;
  background-color: rgb(198, 8, 8);
  text-align: center;
}

.skipBtn {
  display: none;
  width: 400px;
  height: 400px;
  margin: -400px -200px;
  position: absolute;
  top: 40%;
  left: 50%;
  align-items: center;
  font-size: x-large;
  background-color: rgb(157, 152, 152);
  text-align: center;
}
