* {
  margin: 0;
  box-sizing: border-box;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#start {
  padding-top: 650px;
  font-size: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imageContainer {
  width: auto;
  height: 1400px;
  margin-right: auto;
  margin-left: auto;
  /* margin: 300px, auto, 50px; */
  /* background-color: aqua; */
  display: none;
  background-image: url();
  background-size: 100%;
}

#filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: stretch; */
}

.cells {
  background-color: rgb(134, 207, 203);
  width: 525px;
  height: 275px;
  border: 1px black dashed;
}

#randomImg {
  width: 500px;
  height: 700px;
}

#lowerPage {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
}
